/* Change Brand Font */
.navbar-brand{
    font-family: 'Monotype Corsiva';
    font-size: 35px;
    font-weight: bold;
}

/* Change Navigation bar color */
.nav-link{
    color: black !important;
    font-size : 20px;
}

.nav-link:hover{
    color: antiquewhite !important;
    background-color: royalblue;
    border-radius : 30px;
}

/*Change Footer social icon color */
#footer a,#contact a{
    color: red;
}


#contact a:hover {
    color: red;
}
/* login page css start */
#login {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: 0px 80px;
}
#rm {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

#login2 {
    background-size: 90%;
    background-repeat: no-repeat;
    opacity: 0.9;
}
#dn{
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 150px 0px;
}




/* login page css end */

#signupform{
    background:url('/static/images/bgtexture2.jpg');
      background-size: 100%;
    background-repeat: no-repeat;
     background-position: 0px -100px;

    color : white;
}

