{% extends 'admin_base.html' %}

{% block main %}



<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">All Volunteer</h5>
    <div class="container-fluid">
        <table id="example" class="table table-bordered">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>Volunteer Name</th>
                <th>Email ID</th>
                <th>Contact Number</th>
                <th>Status</th>
                <th>Reg. Date</th>
                <th>Action</th>


            </tr>
            </thead>
            <tbody>
            {% for i in volunteer %} <!-- using loop for creating data-->
            <tr>
                <td>{{ forloop.counter }}</td> <!--for s.no -->
                <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.contact }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.regdate }}</td>
                <td><a href="{% url 'view_all_volunteer' i.id %}" class="text-primary">View Details</a>
                    | <a href="{% url 'delete_volunteer' i.user.id %}" onclick="return confirm('Are you sure?')" class="text-danger">Delete</a></td>



            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    </div>

</div>


{% endblock %}