<br>
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donation">
                <div class="card-header">
                    <h5 class="card-title">Total Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="accepted-donation">
                <div class="card-header">
                    <h5 class="card-title">New Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ new_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="rejected-donation">
                <div class="card-header">
                    <h5 class="card-title">Donations Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ delivered_donations }}</h3>
                </div>
            </div>
        </div>

    </div>


</div>

