<br>
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donation">
                <div class="card-header">
                    <h5 class="card-title">Total Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="accepted-donation">
                <div class="card-header">
                    <h5 class="card-title">Accepted Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ accept_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="rejected-donation">
                <div class="card-header">
                    <h5 class="card-title">Rejected Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ reject_donations }}</h3>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="row">

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="pending-donation">
                <div class="card-header">
                    <h5 class="card-title">Pending Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ pending_donations }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="received-donation">
                <div class="card-header">
                    <h5 class="card-title">Received Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ rev_donations }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="delivered-donation">
                <div class="card-header">
                    <h5 class="card-title">Delivered Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ delivered_donations }}</h3>
                </div>
            </div>
        </div>

    </div>


</div>