<br>
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donation">
                <div class="card-header">
                    <h5 class="card-title">Total Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="accepted-donation">
                <div class="card-header">
                    <h5 class="card-title">New Donations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ new_donations }}</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="rejected-donation">
                <div class="card-header">
                    <h5 class="card-title">Total Donors</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_donors }}</h3>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="row">

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="pending-donation">
                <div class="card-header">
                    <h5 class="card-title">Total Volunteer</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ all_volunteer }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="received-donation">
                <div class="card-header">
                    <h5 class="card-title">New Volunteers</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ new_volunteers }}</h3>
                </div>
            </div>
        </div>

    </div>





</div>

